{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    AllInOne.com
{% endblock%}

{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Events</h2>
      <p>This is a platform that helps all Students an Sellers.This enables All student within Malete to Place Order on both goods,accessories and also Placing Orders on various type of Foods. </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">
        <div class="row">
            {% if blog %}
                {% for b in blog %}
                <div class="col-md-6 col-lg-6 d-flex align-items-stretch">
                  
                      <div class="card">
                        <div class="card-img">
                          <img src="{{ b.blog_img.url }}" alt="...">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><a href="">{{ b.blog_title }}</a></h5>
                          <!-- <p class="fst-italic text-center">saturday, february 26th at 7:00 pm</p> -->
                          <p class="fst-italic text-center">{{ b.blog_date }}</p>
                          <p class="card-text">{{ b.blog_description }}</p>
                        </div>
                      </div>
                      
                </div>
                {% endfor %}
            {% endif %}
        </div>
        

    </div>
  </section><!-- End Events Section -->

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
 {% endblock %} 