{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    AllInOne.com
{% endblock%}

{% block content %}
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Restaurants</h2>
        <p>We're proud to offer vendors the best possible experience on our website. With a wide range of products and services, an easy-to-use interface, advanced security features, and excellent customer support, we're the number one choice for vendors.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          {% if restaurant %}
            {% for r in restaurant %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                
                <div class="course-content">
                  <img src="{{ r.img.url }}" class="img-fluid" alt="..." style="width: 350px; height: 222px; ">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <!-- <h4>{{ r.brand }}</h4> -->
                    <p class="price">&#8358;{{ r.price }}</p>
                  </div>

                  <h3><a href="#">{{ r.title }}</a></h3>
                  <!-- <p>{{ r.description|truncatewords:30 }}.....</p> -->
                  <!-- <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="{{ user.image_url }}" class="img-fluid" alt="">
                      <span>{{ user.user_name }}</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div>
                  </div> -->
                </div>
              </div>
            </div> <!-- End Course Item-->
            {% endfor %}
          {% endif %}

          

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 {% endblock %}