{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    AllInOne.com
{% endblock%}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>You Are Welcome,<br>AllInOne inside Malete</h1>
      <h2>This is a website thats enables you to get all what you <br>want within Malete with no stress.</h2>
      <a href="#" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'frontend/assets/img/allinone.png' %}" class="img-fluid" alt="" style="width: 549px; height:412px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>AllInOne.</h3>
            <p class="fst-italic">
              This is a platform that helps all Students an Sellers.This enables All student within Malete to Place Order on both goods,accessories and Orders on various type's of Foods.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> On time Delivery.</li>
              <li><i class="bi bi-check-circle"></i> 100% Accuracy.</li>
              <li><i class="bi bi-check-circle"></i> Friendly communication.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Foods</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Wears/Collection </p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Phones/Laptop</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Users</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose AllInUs?</h3>
              <p>
                This is a platform that helps all Students an Sellers.This enables All student within Malete to Place Order on both goods,accessories and also Placing Orders on various type of Foods.
              </p>
              <div class="text-center">
                <a href="{% url 'frontend:about' %}" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div id="trainers" class="trainers">
            <div class="container" data-aos="fade-up">

              <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="{% static 'frontend/assets/img/profile1.jpeg' %}" class="img-fluid" alt="" style="height:225px;">
                    <div class="member-content">
                      <h4>Odekunle Joseph</h4>
                      <span>Web Development</span>
                      <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                      </p>
                      <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="{% static 'frontend/assets/img/profile2.jpeg' %}" class="img-fluid" alt="" style="height:225px;">
                    <div class="member-content">
                      <h4>Mr Oluwagbemileke</h4>
                      <span>Designer</span>
                      <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                      </p>
                      <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="member">
                    <img src="{% static 'frontend/assets/img/profile3.jpeg' %}" class="img-fluid" alt="" style="height:225px;">
                    <div class="member-content">
                      <h4>William Anderson</h4>
                      <span>Content </span>
                      <p>
                        Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                      </p>
                      <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ff2323;"></i>
              <h3><a href="">Arena</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #097fed;"></i>
              <h3><a href="">D & G Wear's</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #fd1c1c;"></i>
              <h3><a href="">Krafti Kitchen</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #f31f1f;"></i>
              <h3><a href="">Make Point</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #f5be32;"></i>
              <h3><a href="">Bolanle Oniponmo</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #1663d0;"></i>
              <h3><a href="">ChristTech</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #11dbcf;"></i>
              <h3><a href="">Joy Bliss</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #4233ff;"></i>
              <h3><a href="">Okele Joint</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #b2904f;"></i>
              <h3><a href="">Phynas Wear's</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #05761d;"></i>
              <h3><a href="">Campus Screen</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ec1919;"></i>
              <h3><a href="">One on One</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #1965d8;"></i>
              <h3><a href="">FemTech</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Popular Foods Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Foods</h2>
          <p>Popular Restaurants</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ user.image_url }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Arena</h4>
                  <p class="price">$3</p>
                </div>

                <h3><a href="#">Rice & Chicken</a></h3>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ user.image_url }}" class="img-fluid" alt="">
                    <span>{{ user.user_name}}</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
        </div>

      </div>
    </section><!-- End Popular Foods Section -->
    
    <!-- ======= Popular Wears Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Wears</h2>
          <p>Popular Wears Vendor</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ user.image_url }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Baggi Tops</h4>
                  <p class="price">$12</p>
                </div>

                <h3><a href="#"></a>Guys Tops</h3>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ user.image_url }}" class="img-fluid" alt="">
                    <span>{{ user.user_name}}</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
        </div>

      </div>
    </section><!-- End Popular Foods Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Blogs</h2>
          <p>Latest Blogs</p>
        </div>
          <section id="events" class="events row" data-aos="zoom-in" data-aos-delay="100">
            <div class="container" data-aos="fade-up">
        
              <div class="">
                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                  <div class="swiper-wrapper">
         
                    {% if blog %}
                      {% for b in blog %}
                      <div class="swiper-slide">
                        <div class="col-md-12 d-flex align-items-stretch">
                  
                          <div class="card">
                            <div class="card-img">
                              <img src="{{ b.blog_img.url }}" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title"><a href="{% url 'frontend:blog_details' b.id %}">{{ b.blog_title }}</a></h5>
                              <!-- <p class="fst-italic text-center">saturday, february 26th at 7:00 pm</p> -->
                              <p class="fst-italic text-center">{{ b.blog_date }}</p>
                              <p class="card-text">{{ b.blog_description|truncatewords:30 }}.....</p>
                            </div>
                          </div>
                          
                        </div>
                      </div><!-- End testimonial item -->
                      {% endfor %}
                    {% endif %}
        
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
                
                <div class="col-md-12 d-flex align-items-stretch align-items-center">
                  <a href="{% url 'frontend:blog' %}" class="btn-get-started" style="font-family:Raleway, sans-serif;
                  font-weight: 500;
                  font-size: 15px;
                  letter-spacing: 1px;
                  display: inline-block;
                  padding: 10px 35px;
                  border-radius: 50px;
                  transition: 0.5s;
                  margin-top: 10px;
                  border: 2px solid #fff;
                  background-color: #097fed;
                  text-align: center;
                  color: #fff;">Read more...</a>
                </div>
              </div>
              
        
            </div>
          </section>

      </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <!-- <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Walter White</h4>
                <span>Web Development</span>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Sarah Jhinson</h4>
                <span>Marketing</span>
                <p>
                  Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>William Anderson</h4>
                <span>Content</span>
                <p>
                  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Trainers Section -->

  </main><!-- End #main -->

  {% endblock %}